@charset "utf-8";

/*=========================Reset_start==========================*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
dl,
dt,
dd,
ol,
ul,
li,
form,
table,
th,
td,
a,
img,
span,
strong,
var,
em,
input,
textarea,
select,
option {
	margin: 0;
	padding: 0;
}

html,
body {
	font-family:  MicrosoftYaHei,"微软雅黑","宋体", Arail, Tabhoma;
	font-size: 14px;
	text-align: left;
    color:#666;
	font-weight: normal;
	font-stretch: normal;
}

ul,ol {
	list-style: none;
}

img {
	border: 0;
}

input,
select,
textarea {
	outline: 0;
}

textarea {
	resize: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th,
strong,
var,
em {
	font-weight: normal;
	font-style: normal;
}

a {
	text-decoration: none;
}

.clearfix {
	zoom: 1;
}

.clearfix:after,
.clear:after {
	display: block;
	overflow: hidden;
	clear: both;
	height: 0;
	visibility: hidden;
	content: ".";
}

a:link,a:visited,a:hover,a:active{text-decoration:none;} 


.my_inblock {}

.my_inblock>* {
    display: inline-block;
    vertical-align: middle;
}

.my_inblock:after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
/********* 文字两端对齐 *********/
text_justify{
	text-align:justify;
	text-justify:inter-ideograph;
}
text_justify:after{
	display: inline-block;
	content: '';
	padding-left:100%;
}
/*==========================Reset_End===========================*/